<!DOCTYPE html>
<html lang="en">
	<head>	
		<title>Papyrus test</title>
		<meta charset="UTF-8" />
		<link type="text/css" rel="stylesheet" href="resources/css/mainContent.css"/>
		<script type="text/javascript" src="resources/js/jquery-1.11.1.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<header id="mainHeader">
				<div id="subHeader">
					<img id="subHeaderImg" src="resources/img/papyrus.jpg" alt="papyrus img"/>
				</div>
			</header>
			<nav id="mainNav">
				<div id="subNav">
					<ul id="subNavMenu">
						<li><a href="/test/">Home</a></li>
					</ul>
				</div>
			</nav>
			<div id="mainContent">
				<div id="subContent">
					<section id="processSection">
						<article id="inputFileArticle">
							<div id="inputDiv">
								<p>
									<span>File location:&nbsp;</span>
									<input type="text" id="inputTextFile" value="C:\Users\Marcus\eclipseDevEE\marcusDev\data_calculation.csv"/>
									<input type="button" id="processButton" value="Process file" />									
								</p>								
							</div>							
						</article>
						<article id="processArticle">
							<div id="processDivCont">
								<h3>Results</h3>
								<table id="procesResultTable">
									<thead id="resultTableHeader">
										
										<tr id="resultTableRow">
										<!-- 
											<td>Process step</td>
											<td>Measure</td>
											<td>Errors</td>
											<td>Average value</td>
											<td>Total amount</td>
										--> 											
										</tr>
										
									</thead>
									<tbody id="tBodyProcess">																				
									</tbody>
								</table>
							</div>							
						</article>
					</section>
				</div>
			</div>
			<footer id="mainFooter">
				<div id="subFooter">
					<div id="footerDataCont">						
						<a>Marcus Ronnang</a>
						<a>marcusronnang@hotmail.com</a>
						<a>This site is for training purposes only!</a>
					</div>
				</div>
			</footer>			
			<script type="text/javascript" src="resources/js/jquery-1.11.1.js"></script>
			<script type="text/javascript">
				//<![CDATA[	
			    	$(document).ready(function(){
			    		$("#processButton").on("click",function(){			    			
			    			var fileLocation=$("#inputTextFile").val();
			    			alert(fileLocation);
			    			$.ajax({
			    				type: 'POST',		
			    				url: '/test/process',
			    				data: {'fileLocation':fileLocation},
			    				dataType: 'json',		
			    				success: function(data){			    					
			    					//alert(data);			    					
			    					var objCollProcessData=data;
			    					//alert(JSON.stringify(objCollProcessData));
			    					//JSON.stringify(obj);			    					
			    					var counter;
			    					var counter2;
			    					var maximumMeasures=0;			    					
			    					var process_steps;			    					
			    					process_steps=objCollProcessData.process_steps;			    					
			    					//alert(process_steps);
			    					//alert(JSON.stringify(process_steps))
			    					//alert(JSON.stringify(process_steps.measures));			    					
			    					
			    					//Get maximum amount of measures from a process step
			    					for(counter in process_steps){
			    						var measureContainer = process_steps[counter].measures;
			    						//alert(measureContainer);
			    						//alert(JSON.stringify(measureContainer));
			    						if(maximumMeasures < measureContainer.length){
			    							maximumMeasures = measureContainer.length;
			    						}
			    						//alert(measureContainer.length);			    						
			    					}
			    					alert(maximumMeasures);			    					
			    					
			    					//Create the header of the table
			    					var tableHeaderRow=document.getElementById("resultTableRow");
			    					var tableData=document.createElement("td");
			    					tableData.innerHTML="Process step";
			    					tableHeaderRow.appendChild(tableData);
			    					for(j=0;j<maximumMeasures;j++){
			    						//alert("In td array!");
			    						var tableData=document.createElement("td");
			    						tableData.innerHTML="Average";
			    						tableHeaderRow.appendChild(tableData);
			    						var tableData=document.createElement("td");
			    						tableData.innerHTML="Errors";
			    						tableHeaderRow.appendChild(tableData);			    						
			    					}
			    					//Append the table body columns
			    					var i,k;
			    					var tableBody=document.getElementById("tBodyProcess");
			    					var tempMeasures;
			    					for(i in process_steps){			    						
			    						//alert("In body section!");			    						
			    						var tBodyRow=document.createElement("tr");
			    						tableBody.appendChild(tBodyRow);
			    						
			    						var tableData2 = document.createElement("td");
			    						tableData2.innerHTML=process_steps[i].processStep;
			    						//tableData.innerHTML="Test";
			    						tBodyRow.appendChild(tableData2);
			    						var measureCont = process_steps[i].measures;
			    						tempMeasures=measureCont.length;
			    						
			    						for(k=0;k<maximumMeasures;k++){
			    							//alert("Append data");
			    							//alert(measureCont[k].average);
			    							//alert("Counter is: " + k);
			    							var tableData2 = document.createElement("td");			    							
											if(k>=tempMeasures){
												tableData2.innerHTML="";
			    							}
			    							else{
			    								tableData2.innerHTML=measureCont[k].average;
			    							}											
											tBodyRow.appendChild(tableData2);
											
											var tableData2 = document.createElement("td");			    							
											if(k>=tempMeasures){
												tableData2.innerHTML="";
			    							}
			    							else{
			    								tableData2.innerHTML=measureCont[k].errors;
			    							}
			    							tBodyRow.appendChild(tableData2);
			    						}
			    					}
			    				}		
			    			}).error(function(data){																		
			    				alert('Fail!');											
			    			});	
			    		});
			    	});       
				//]]>			
			</script>
		</div>		
	</body>
</html>